<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/personal.css">
</head>
<body>
    <ul class="navLink">
        <li><a href="/profile">Home</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="/personal" class="btn int">Profile</a></li>
        <li><a href="/logout" class="btn int">Logout</a></li>
      </ul>
    <div class="wrapper">
        <div class="profile-card js-profile-card background">
          <div class="profile-card__img">
            <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1537638518/Ba%C5%9Fl%C4%B1ks%C4%B1z-1.jpg" alt="profile card">
          </div>
      
          <div class="profile-card__cnt js-profile-cnt">
            <div class="username"><h4><%= user.username %></h4></div>
            <div class="details">Front-end Developer from  <strong> Nepal </strong></div>
            
    
</body>
</html>